/*
*{
    border: 1px solid red;
}
*/
body{
    margin: 0 auto;
    font-family: 'Lora', serif;
    /* Portada */
}
.contenedor{
    max-width: 900px;
    position: relative;
}
.contenedor.cont-portada{
    max-width: 700px;
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background: rgba(39,59,71,.3);
    border-radius: 20px;
}
.header{
    position: relative;
    margin-right: 20px;
    margin: 0 auto;
}
.logo{
    display: inline-block;
}
.navbar{
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 26px;
}
.navbar li{
    display: inline-block;
    padding-right: 18px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.portada{
    height: 550px;
    padding: 20px;
    position: relative;
/*    background-color:black;*/
}
.cabecera{
    
/*
    z-index: 80;
    opacity: 1;
*/
}
.background{
    height: 590px;
    width: 100%;
    background: url(../images/fondo2.jpg) no-repeat 50% 50%;
    background-size: cover;
    opacity: .9;
/*    z-index: 0;*/
    position: absolute;
    left: 0;
    top: 0;
    
}
.titulo{
    font-size: 60px;
    margin-bottom: 10px;
    color: white;
}
.subtitulo{
    font-size: 24px;
    color:white;
}
.button{
    text-decoration: none;
    height: 40px;
    cursor: pointer;
    color: aliceblue;
    font-size: 1.5rem;
    border-radius: 12px;
    background: linear-gradient(to left, #fe344e, #ff7250);
    padding: 7px 12px;
    border: none;
}
.logo{
    margin: 0;
}

/* Descripcion */

.descripcion{
    max-width: 850px;
    margin: 0 auto;
}
.descripcion h2{
    font-size: 35px;
}
.descripcion h3{
    font-size: 20px;
    font-weight: 200;
}
.art-1 {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
}
.art-1 blockquote{
    font-size: 18px;
    margin: 5px;
    background-image: url(../images/openquote3.gif);
    background-repeat: no-repeat;
    background-position: top left;
    text-indent: 68px;
    padding-top: 40px;
}
.art-1 span{
    display: block;
    background-image: url(../images/closequote3.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 40px;
    
}

/* Footer */

.footer{
    background: rgba(124, 158, 188,.7);
    text-align: center;
    margin: 0 auto;
}
.contacto{
    padding-left: 20px;
    height: 350px;
    width: 600px;
    display: flex;
    justify-content:space-around;
}

.col-2 a{
    display: inline-block;
}
.col-2 h4{
    font-size: 20px;
    display: block;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
}
.col-2 h4:first-child{
    font-size: 28px;
    border-bottom: none;
    margin-bottom: 5px;
}
.contacto a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-top: 15px;
    text-align: left;
    display: block
}
.contenedor.cont{
    display: flex;
    justify-content:center;
}
.footer h3{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.contacto img{
    border-radius: 50%;
}
.contenedor-footer{
    display: flex;
    justify-content:space-around;
}
.contacto-huetor{
    display:block;
}
.contacto-huetor img{
    margin-bottom: 30px;
}
.contacto-huetor span{
    display: block;
    font-size: 20px;
    text-align: left;
}