/*
*{
    border: 1px solid red;
}
*/
body{
    margin: 0 auto;
    /* Portada */
}
.contenedor{
    max-width: 900px;
    position: relative;
    margin: auto;
}
.contenedor.cont-portada{
    max-width: 700px;
    margin-left: 20px;
}
.header{
    position: relative;
    margin-right: 20px;
}
.logo{
    display: inline-block;
}
.navbar{
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 26px;
}
.navbar li{
    display: inline-block;
    padding-right: 18px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.portada{
    height: 550px;
    padding: 20px;
    position: relative;
    background-color:darkslategray;
}
.cabecera{
    z-index: 80;
    opacity: 1;
}
.background{
    height: 590px;
    width: 100%;
    background: url(../images/fondo2.jpg) no-repeat 50% 50%;
    background-size: cover;
    opacity: .72;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    
}
.titulo{
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 10px;
    color: white;
}
.subtitulo{
    font-size: 24px;
    color:white;
}
.button{
    text-decoration: none;
    height: 40px;
    cursor: pointer;
    color: aliceblue;
    font-size: 1.5rem;
    border-radius: 12px;
    background: linear-gradient(to left, #fe344e, #ff7250);
    padding: 7px 12px;
    border: none;
}
.logo{
    margin: 0;
}

/* Descripcion */

.descripcion{
    max-width: 700px;
    margin: 0 auto;
}
.descripcion h2{
    font-size: 35px;
}
.descripcion h3{
    font-size: 20px;
    font-weight: 200;
}